In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
data=pd.read_csv("D:/company.csv")

In [3]:
data.head()

   YearsExperience  Salary
0              1.1   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   39891

In [4]:
real_x=data.iloc[:,0].values
real_y=data.iloc[:,1].values
real_x=real_x.reshape(-1, 1)
real_y=real_x.reshape(-1, 1)

In [5]:
training_x,testing_x,training_y,testing_y=train_test_split(real_x,real_y,test_size=0.3,random_state=0)

In [6]:
Lin=LinearRegression()

In [7]:
Lin.fit(training_x,training_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [8]:
Pred_y=Lin.predict(testing_x)

In [9]:
testing_y[3]

array([3.9])

In [10]:
Pred_y[3]

array([3.9])